<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ForeCash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let item of data">
          <ion-label>
            <img
              class="gambar"
              src="http://openweathermap.org/img/wn/{{ item.weather[0]['icon'] }}@2x.png"
              height="50px"
            />
          </ion-label>
          <ion-label
            >{{ item.weather[0]['main'] }} - {{ item.weather[0]['description']
            }} <br />
            <small> {{ item.dt_txt }}</small></ion-label
          >
          <ion-label class="suhu"
            >{{ item.main['temp'] }} °C <br />
            <small
              >{{ item.main['temp_min'] }} - {{ item.main['temp_max'] }}
              °C</small
            ></ion-label
          >
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
