<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Weather Now</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 class="ion-60p suhu">{{temp}} °C</h1>
    <div *ngFor="let w of weather.weather">
      <img
        class="gambar"
        src="http://openweathermap.org/img/wn/{{w.icon}}@2x.png"
        height="180px"
      />
      <h1 class="ion-30p deskripsi">
        {{city}}, {{ country }} <br />
        {{w.main}}(<small>{{w.description}}</small>)
      </h1>
    </div>
  </div>
</ion-content>
